# Step 1: Import Data

In [54]:
import pandas as pd
import numpy as np
df = pd.read_csv('exams.csv')

# Step 2: Clean Data

observe data...

In [38]:
df.shape

(1000, 8)

In [55]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45

checking for NaN's...

In [44]:
df.isnull().head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False

In [5]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In so far as cleaning the data, the system is not reading any NANs, but we may have to deal with repetition...

In [5]:
df.values

array([['male', 'group A', 'high school', ..., 67, 67, 63],
       ['female', 'group D', 'some high school', ..., 40, 59, 55],
       ['male', 'group E', 'some college', ..., 59, 60, 50],
       ...,
       ['female', 'group C', 'some high school', ..., 32, 35, 41],
       ['female', 'group C', 'some college', ..., 73, 74, 82],
       ['male', 'group A', 'some college', ..., 65, 60, 62]], dtype=object)

unsure if we are able to find out what races/ethnicities correspond to the group letters...
could be interesting to see if there is a correlation between any of the categories, and scores, but I need to set categories as booleans e.g. male = 1, female = 0...

In [56]:
change = df['gender']
change.head(10)

0      male
1    female
2      male
3      male
4      male
5    female
6    female
7      male
8      male
9      male
Name: gender, dtype: object

In [46]:
df2= df.loc[df['gender']== 'male', 'gender']='1'
change.head(10)

0         1
1    female
2         1
3         1
4         1
5    female
6    female
7         1
8         1
9         1
Name: gender, dtype: object

In [60]:
df2= df.loc[df['gender']== 'male', 'gender']='1'; df.loc[df['gender']== 'female', 'gender']='0'
change.head(10)

0    1
1    0
2    1
3    1
4    1
5    0
6    0
7    1
8    1
9    1
Name: gender, dtype: object

have the data converted to 0's and 1's, now I need to see if the system recognizes as boolean...

# Step 3: Split Data

In [9]:
#keep in mind that it is easy to concatenate... 
df_new = df[['parental level of education']+['reading score']]
df_new.head()

  parental level of education  reading score
0                 high school             67
1            some high school             59
2                some college             60
3                 high school             78
4          associate's degree             73

In [62]:
#set input/independent variable
X = df['gender']
X.head()

0    1
1    0
2    1
3    1
4    1
Name: gender, dtype: object

In [66]:
#set output/dependent variable
#y = df[['math score']+['reading score']+['writing score']]
y = df['math score']
y.head(10)

0    67
1    40
2    59
3    77
4    78
5    63
6    62
7    93
8    63
9    47
Name: math score, dtype: int64

# Step 4: Create a Model

In [79]:
#some parts here are redundant, but putting all in one place (to dump/load later...)
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

df = pd.read_csv('exams.csv')
X = df.loc[df['gender']== 'male', 'gender']='1'; df.loc[df['gender']== 'female', 'gender']='0'
y = df['math score']
model = DecisionTreeClassifier()
model.fit(X,y)
predictions = model.predict
predictions

ValueError: Expected 2D array, got scalar array instead:
array=1.0.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

# Step 5: Train the Model

# Step 6: Make Predictions

# Step 7: Evaluate and Improve